.DispTeamScore {
            font-size: 20px;
        }

pre {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#display0 {
    margin:auto;
    margin-top: 5vh;
}

.center {
    display: block;
    margin: auto;
    margin-top: 30vh;
}
video.center{
    display: block;
    height:600; 
    width:1000; 
    margin: auto;
    margin-left: 12.5vw;
    margin-top: 8vh;
    -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.0);
}
video.rotate{
    -moz-transform: scale(1.5) rotate(-90deg);
  -webkit-transform: scale(1.5)rotate(-90deg);
  -o-transform: scale(1.5) rotate(-90deg);
  -ms-transform: scale(1.5) rotate(-90deg);
  transform: scale(1.5) rotate(-90deg);

}

.DispTeamScore {
            font-size: 20px;
        }
        
        pre {
            display: block;
            font-size: 1.5em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }