body, html {
    height: 100%;
}


.bg { 
    background-image: url("../image/tbt/Picture2.png");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.textarea-large {
  height: 150px;
}

textarea-small {
  height: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color:rgba(255, 255, 255, 0.9);
}

.container-card {
    padding: 2px 16px;
}

.card-H-1 {
    height: 125px;
}


@keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:-1366px; top:0px; display: none}
}

.page {
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.floating-card {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.teamScore-input {
    text-align: center;
}

.loader {
    border-top: 6px solid #673AB7;
    border-right: 6px solid #2196F3;
    border-bottom: 6px solid #673AB7;
    border-left: 6px solid #2196F3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
